@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Song+Myung&family=Noto+Serif+KR:wght@200&display=swap");
html,
body,
p,
figure {
  margin: 0;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  float: right;
  padding: 40px;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 3.2rem;
  font-family: "Gugi", cursive;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 20px;
}

.navbar__menu li:hover {
  background-color: #ebac23;
  border-radius: 100px;
}

.navbar_tool {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: black;
  display: none;
}
audio {
  display: none;
}

footer {
  width: 80%;
  display: flex;
  padding: 2% 10%;
  margin-top: 80px;
  background-color: #e7e7e7;
  align-items: center;
}

footer p {
  font-family: "Nanum Gothic", sans-serif;
  color: #0e0e0e;
  font-size: 0.7rem;
  line-height: 2;
}

footer img {
  width: 80%;
  margin: 0;
}

@media (max-width: 800px) and (min-width: 769px) {
  .navbar_menu li {
    padding: 8px 10px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
  }

  .navbar__menu li {
    text-align: center;
    padding: 30px 0;
  }
  .navbar__menu li:hover {
    padding: 10px 20px;
    border-radius: 20px;
  }
  .navbar__menu a {
    width: 100%;
  }

  .navbar_tool {
    display: block;
    z-index: 2;
    padding: 30px 0;
  }

  .navbar__menu.active {
    display: flex;
    top: 0;
    font-size: 2rem;
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-family: "Song Myung", serif;
  }

  .navbar__logo {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    font-size: 3rem;
  }
}
