@charset 'utf-8';
@import url("common.css");

main {
  width: 100%;
}

article {
  /* border: 1px solid black; */
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.main2 {
  display: none;
}
.txt {
  font-size: 30px;
  font-family: "Song Myung", serif;
  text-align: center;
}

.img_intro {
  width: 18%;

  /* border: 1px solid rgb(157, 255, 0); */
}
.img_intro img {
  margin: 38px 0;
}

.img_intro .img1 {
  width: 100%;
}
.img_intro .img2 {
  width: 100%;
}
.img_intro .img3 {
  width: 100%;
}

.text {
  /* border: 1px solid blue; */
  font-size: 1.2em;
  width: 82%;
  font-family: "Nanum Gothic", sans-serif;
}

.text_1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5%;
  margin: 9% 5%;
  margin-left: 10%;
  line-height: 1.8;
}
.text_2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5%;
  margin: 9% 5%;
  margin-left: 10%;
  line-height: 1.8;
}
.text_3 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5%;
  margin: 9% 5%;
  margin-left: 10%;
  line-height: 1.8;
}
@media (max-width: 905px) {
  .text {
    font-size: 1.1rem;
  }
}
@media (max-width: 830px) {
  .text {
    font-size: 1rem;
  }
  .img_intro img {
    margin: 30px 0;
  }
}
@media (max-width: 768px) {
  .txt {
    margin-top: 50px;
    font-size: 25px;
  }
  article {
    display: none;
  }
  .main2 {
    display: unset;
  }
  .main2 img {
    width: 25%;
    margin: 30px;
  }
  .text {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    line-height: 2;
    padding: 20px 5px;
    font-size: 1rem;
    width: 70%;
    line-height: 2;
  }
  .main2 .ex {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .main2 img {
    width: 30%;
  }
  .text {
    width: 90%;
  }
}
