@charset "utf-8";
@import url("common.css");

main {
}
main p {
  margin: 30px;
}
.txt {
  text-align: center;
  padding: 0px 200px;
  font-size: 30px;
  font-family: "Song Myung", serif;
}
.input {
  text-align: center;
}

.input .input_1 {
  width: 10%;
  height: 30px;
  margin: 0 2px;
}

.input .input_2 {
  width: 25%;
  height: 30px;
}
.input img {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}

table {
  font-family: "Nanum Gothic", sans-serif;
  width: 75%;
  margin: 0 auto;
}
table td {
  border-bottom: 1px solid rgb(179, 179, 179);
}
thead {
}
thead tr th {
  background-color: rgb(240, 240, 240);
  padding: 15px;
}
thead tr th:nth-child(1) {
  width: 11%;
}
thead tr th:nth-child(2) {
}
thead tr th:nth-child(3) {
  width: 13%;
}
thead tr th:nth-child(4) {
  width: 16%;
}
.notice_table {
  width: 100%;
  margin-top: 3%;
}
.txt__ {
  text-align: center;
}
.txt_ div {
  padding: 10px 0px 10px 10px;
}
.txt_ a {
  text-decoration: none;
  color: black;
  text-align: none;
}

.paging {
  font-family: "Song Myung", serif;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.paging a {
  text-decoration: none;
  color: black;
}
.paging li {
  display: inline;
  margin-right: 20px;
}

.paging a:hover {
  color: black;
  padding: 5px 8px 5px 8px;
  background: #ebac23;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .input .input_1 {
    width: 18%;
    height: 20px;
  }

  .input .input_2 {
    width: 38%;
    height: 20px;
  }
  .input img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }

  input {
    font-size: 0.5rem;
  }
  .input_1 {
    font-size: 0.5rem;
  }
  .txt {
    font-size: 1.5rem;
  }
  .txt_ div {
    padding: 5px 0px 5px 5px;
  }
  table {
    width: 90%;
    margin-top: 20px;
  }
  thead tr th {
    padding: 10px;
  }
  .notice_table {
    font-size: 0.8rem;
  }
  .paging {
    margin-top: 20px;
  }
  .paging li {
    margin-right: 15px;
    font-size: 0.8rem;
  }
}
