@charset 'utf-8';
@import url("common.css");
main {
  height: 500px;
}

.txt {
  margin: 30px;
  font-size: 30px;
  font-family: "Song Myung", serif;
  text-align: center;
}
.input {
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  margin: 0 auto;
}

.input .input_1 {
  width: 8%;
  height: 25px;
  margin: 0 5px;
}

.input .input_2 {
  margin: 0 5px;
  width: 15%;
  height: 25px;
}
.input img {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}
.input p {
  margin: 10px;
  font-size: 0.8rem;
}

.top {
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.top img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}
