@charset "utf-8";
@import url("common.css");

main {
}

.txt {
  margin: 30px;
  text-align: center;
  padding: 0px 200px;
  font-size: 30px;
  font-family: "Song Myung", serif;
}
.input {
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  margin: 0 auto;
}

.input .input_1 {
  width: 8%;
  height: 25px;
  margin: 0 5px;
}

.input .input_2 {
  margin: 0 5px;
  width: 15%;
  height: 25px;
}
.input img {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}
.input p {
  margin: 10px;
  font-size: 0.8rem;
}

.top {
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.top img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

#map {
  width: 80%;
  height: 500px;
  margin: 50px auto;
}

@media (max-width: 768px) {
  .txt {
    font-size: 1.5rem;
  }
  .input .input_1 {
    width: 15%;
    height: 20px;
    font-size: 0.7rem;
    margin: 0;
  }

  .input .input_2 {
    width: 25%;
    height: 20px;
    margin: 0;
    font-size: 0.7rem;
  }
  .input img {
    width: 20px;
    height: 20px;
  }
  .input p {
    font-size: 0.6rem;
  }
  label {
    font-size: 0.7rem;
  }
}
