@charset "utf-8";
@import url("common.css");
.txt {
  text-align: center;
  padding: 0px 200px;
  font-size: 30px;
  font-family: "Song Myung", serif;
}
.input {
  text-align: center;
}

.input .input_1 {
  width: 10%;
  height: 40px;
  margin: 0 2px;
}

.input .input_2 {
  width: 20%;
  height: 40px;
}
.input img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}
.ex {
  margin: 30px;
}

.story_ {
  display: flex;
  margin-top: 50px;
  font-family: "Nanum Gothic", sans-serif;
  line-height: 1.5;
}

.story_ div {
  width: 30%;
  text-align: center;
  border: 1px solid rgba(236, 236, 236, 0.4);
  margin: 0 auto;
}
.story_ p {
  font-size: 13px;
  width: 80%;
  margin: 20px auto;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.story_ img {
  width: 80%;
  height: 80%;
  padding-top: 10px;
}
.story_ img:hover {
  transform: scale(1.1);
}
.story_ p:hover {
  overflow: visible;
  white-space: pre-line;
}

.paging {
  font-family: "Song Myung", serif;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.paging a {
  text-decoration: none;
  color: black;
}
.paging li {
  display: inline;
  margin-right: 20px;
}

.paging li a:hover {
  color: white;
  padding: 5px 10px;
  background: #ebac23;
  border-radius: 100px;
}

.list {
  width: 80%;
  text-align: center;
  list-style: none;
  margin: 60px auto;
}
.list img {
  height: 50%;

  padding: 20px;
  margin: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px 100px;
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  display: none;
  font-family: "Nanum Gothic", sans-serif;
}
.popup div {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.popup div a {
  color: white;
}
.popup p {
  font-size: 5px;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .txt {
    padding: 0;
  }
  .list {
    margin: 0 auto;
  }
  .list img {
    width: 60%;
    height: auto;
  }
  .story_ {
    display: unset;
  }
  .story_ div {
    border: 1px solid rgba(236, 236, 236, 0.4);
    width: 80%;
    padding: 0;
    text-align: center;
    margin: 20px auto;
  }
  .story_ p {
    margin: 20px auto;
    width: 70%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .story_ img {
    width: 60%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .paging {
    margin: 10px auto;
  }
  .input .input_1 {
    width: 15%;
    height: 25px;
  }

  .input .input_2 {
    width: 30%;
    height: 25px;
  }
  .input img {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
  }

  input {
    font-size: 0.5rem;
  }
  .popup div {
    font-size: 15px;
    padding: 0 20px;
  }
  .popup p {
    font-size: 13px;
  }
}
