@charset "utf-8";
@import url("common.css");
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Song+Myung&family=Noto+Serif+KR:wght@200&display=swap");
html,
body,
p,
figure {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}
main::after {
  content: "";
  clear: both;
  display: block;
}

.main > div:nth-child(1) {
  width: 65%;
}

.main {
  width: 90%;
  display: flex;
  float: right;
}
.main_img img {
  width: 100%;
  height: 70vh;
}

.main_text {
  width: 35%;
  color: white;
  background-color: #d38d13;
  font-family: "Song Myung", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.main_text p {
  padding: 1% 20%;
  word-break: keep-all;
}
.main_text a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.main_text .ex1 {
  font-size: 4rem;
}
.main_text .ex2 {
  font-size: 2rem;
  line-height: 1.4;
}
.main_text .ex3 {
  font-size: 1.2rem;
  line-height: 1.3;
}
.main_text .ex4 {
  font-size: 15px;
}
.main_banner {
  position: absolute;
  width: 30%;
  left: 13%;
  top: 25%;
}

@media screen and (max-width: 768px) {
  .main_banner {
    left: 25%;
    top: 25%;
    width: 50%;
  }
  .main > div:nth-child(1) {
    width: 100%;
  }
  .main {
    flex-direction: column;
    float: none;
    margin: auto;
  }
  .main_text {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .main_text .ex1 {
    padding-top: 20px;
    font-size: 2.5rem;
  }
  .main_text .ex2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .main_text .ex3 {
    font-size: 1rem;
    line-height: 1.2;
  }
  .main_text .ex4 {
    font-size: 0.5rem;
    padding-bottom: 20px;
  }

  footer {
    width: 80%;
  }

  @media (max-width: 321px) {
    main {
      height: 80vh;
    }
    .main img {
      height: 45vh;
    }
    .main_banner {
      top: 25%;
    }
    .main_text {
      width: 100%;
    }
    .main_text .ex1 {
      padding-top: 20px;
      font-size: 2rem;
    }
    .main_text .ex2 {
      font-size: 1.1rem;
      line-height: 1.2;
    }
    .main_text .ex3 {
      font-size: 1rem;
      line-height: 1.2;
    }
    .main_text .ex4 {
      font-size: 0.5rem;
      padding-bottom: 20px;
    }
    .main_banner img:hover {
      transform: none;
    }
  }
}
